@import 'src/styles/mixins/breakpoint';
@import 'src/styles/mixins/fluid-type';

.main-container {
  width: 100%;
  margin-bottom: 50px;
  align-content: center;
}

.set-gig-container {
  width: 100%;
  display: none;
  flex-direction: row;
  align-items: flex-start;
}

@include breakpoint(tablet) {
  .main-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .mobile-container {
    display: none !important;
  }

  .set-gig-container {
    display: flex !important;
  }

  .song-container {
    display: grid !important
  }
}

.song-container {
  display: none;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  @include fluid-type(grid-column-gap grid-row-gap, 700px, 1400px, 30px, 60px);
}
